<div class="row">
  <div class="col-sm-12">
    <h2><%= title %></h2>
    <p class="lead">
      Saydıraç muhtemel seçim yolsuzluklarıyla mücadele etmek için seçim sonuçlarını halkın kendi kendine denetleyebileceği bir web uygulamasıdır.
    </p>
    <p class="lead">
      Biliyoruz ki seçim demokrasi araçlarından sadece biri, ancak her birini savunmak gerektiği bilinciyle Saydıraç'ı geliştirmekteyiz.
    </p>
    <p class="lead">
      Saydıraç'ın katılımcı ve isteyen her yurttaşın ya da oluşumun kullanabileceği açık bir platform olması amaçlanıyor.
    </p>
    <p class="lead">
      İlk defa 1 Haziran 2014'te Yalova, Ağrı, ve Eskişehir'de tekrar edilen yerel seçimlerde kullanılan Saydıraç, gelecekte yapılacak seçimlere de hazırlanmakta.
    </p>
    <p class="lead">
      Saydıraç özellikle oy denetimi yapan oluşumlar tarafından kullanılabilecek bir araç olarak tasarlandı. Kullanan oluşumlar aşağıda belirtilmiştir, siz de bir oluşum olarak kullanıyorsanız bizimle aşağıdaki email adresinden iletişime geçiniz.
    </p>
    <p class="lead">
      Saydıraç kolektif şekilde gönüllüler tarafından geliştirilmektedir. Katkıda bulunmak isterseniz aşağıdaki email adresinden iletişime geçiniz.
    </p>
    <h3>İletişim</h3>
    <p class="lead">
      <a href="mailto:saydirac@gmail.com">saydirac@gmail.com</a> <br/>
      <a href="http://twitter.com/saydirac" target="_blank">twitter.com/saydirac</a> <br/>
      <a href="http://facebook.com/saydirac" target="_blank">facebook.com/saydirac</a> <br/>
    </p>
    <h3>Katkıda Bulunanlar</h3>
    <p class="lead">
      Cem Aydoğdu, Burak Arıkan, Engin Erdoğan, Kurdi Der Ergani, Yaprak Gültay, Hilal Koyuncu, İgal Nassima, Engin Önder, Mahir M. Yavuz
    </p>
    <h3>Destekleyen / Kullanan Oluşumlar</h3>
    <p class="lead">
     <a target="_blank" href="http://140journos.com/">Journos</a>, <a target="_blank" href="http://turkiyeninoylari.com/">Türkiye'nin Oyları</a>, <a target="_blank" href="http://oyveotesi.org/">Oy ve Ötesi</a>
    </p>
 </div>
</div>
