<div class="row">
  <div class="col-sm-12">
    <h1><%= title %></h1>
    <p class="lead">
      Saydıraç seçim yolsuzluklarıyla mücadele etmek için seçim sonuçlarını halkın kendi denetleyebileceği bir web uygulamasıdır.
    </p>
    <p>
      Biliyoruz ki seçim demokrasi araçlarından sadece biri, ancak her birini savunmak gerektiği bilinciyle Saydıraç'ı geliştirmekteyiz.
    </p>
    <p>
      Saydıraç'ın çok katılımlı ve isteyen her yurttaşın ya da oluşumun kullanabileceği açık bir platform olması amaçlanıyor.
    </p>
    <p>
      İlk defa 1 Haziran 2014'te Yalova, Ağrı, ve Eskişehir'de tekrar edilen yerel seçimlerde kullanılan Saydıraç, gelecekte yapılacak seçimlere de hazırlanmakta.
    </p>
    <p>
      Saydıraç özellikle oy denetimi yapan oluşumlar tarafından kullanılabilecek bir araç olarak tasarlandı. Kullanan oluşumlar aşağıda belirtilmiştir, siz de bir oluşum olarak kullanıyorsanız bizimle aşağıdaki email adresinden iletişime geçiniz.
    </p>
    <p>
      Saydıraç kolektif şekilde gönüllüler tarafından geliştirilmektedir. Katkıda bulunmak isterseniz aşağıdaki email adresinden iletişime geçiniz.
    </p>
    <p>
      <h5>İletişim</h5>
      saydirac@gmail.com
      twitter.com/saydirac
      facebook.com/saydirac
    </p>
    <p>
      <h5>Katkıda Bulunanlar</h5>
      Cem Aydoğdu, Burak Arıkan, Engin Erdoğan, Kurdi Der Ergani, Yaprak Gültay, Hilal Koyuncu, İgal Nassima, Engin Önder, Mahir M. Yavuz
    </p>
    <p>
      <h5>Destekleyen / Kullanan Oluşumlar</h5>
      Journos, Türkiye'nin Oyları
    </p>
 </div>
</div>
