<!-- evidences/:id/edit -->

<h1>
  <%= title %>
</h1>

<form role="form" action="/evidence" method="post" accept-charset="utf-8" enctype="multipart/form-data">

  <% if(evidence.img) { %>
      <img src="<%=s3path + evidence.img %>" width="320px">

  <% }  else {%>

    <div class="form-group">
      <label for="img">Tutanak fotoğrafı</label>
      <input type="file" id="exampleInputFile">
      <!-- <p class="help-block">Example block-level help text here.</p> -->
    </div>
  <% }  %>



  <div class="form-group">
    <label for="city">İl</label>
    <input type="text" class="form-control" id="city" placeholder="İl">
  </div>

  <div class="form-group">
    <label for="district">İlçe</label>
    <input type="text" class="form-control" id="district" placeholder="İlçe">
  </div>

  <div class="form-group">
    <label for="no">Sandık no</label>
    <input type="text" class="form-control" id="no" placeholder="Sandık no">
  </div>

<!--   <div class="checkbox">
    <label>
      <input type="checkbox"> Sorunsuz
    </label>
  </div>
 -->

  <button type="submit" class="btn btn-default">Kaydet</button>
</form>
