<div class="row">
 <div class="col-xs-12">
  <h3 class="title">
    <%= title %>
  </h3>
</div>
</div>

<form role="form" id="evidence_edit" class="form-horizontal" action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">

 <input type="hidden" id="event_id" name="event_id" value="<%= evidence._id %>"/>

   <div class="form-group">
    <div class="col-xs-11 col-sm-6">
      <select class="form-control" name="city"  id="city"  style="background-color:#FFF;">
        <option value="">İl Seç</option>

      </select>
    </div>
  </div>

  <div class="form-group">

   <div class="col-xs-11 col-sm-6">
    <select class="form-control" name="district"  id="district"  style="background-color:#FFF;">
      <option value="">İlçe Seç</option>
    </select>
  </div>
  </div>


  <div class="form-group">
   <div class="col-xs-11 col-sm-6">
    <select class="form-control" name="no"  id="no"  style="background-color:#FFF;">
      <option value="">Sandık Seç</option>
    </select>
  </div>
  </div>

  <div class="form-group">
    <div class="col-xs-11 col-sm-6">
      <select class="form-control" name="type"  id="type"  style="background-color:#FFF;">
        <option value="">Tur Seç</option>
        <option value="il_belediye_baskanligi">İl Belediye Başkanlığı Sonuç Tutanağı</option>
        <option value="ilce_belediye_baskanligi_belediye_meclis_uyeligi">İlçe Belediye Başkanlığı ve Belediye Meclis Üyeliği Sonuç Tutanağı</option>
      </select>
    </div>
  </div>

<div class="form-group">
  <div class="col-xs-11 col-sm-11">
    <input type="submit" class="btn btn-default btn-primary btn-lg btn-block" value="Kaydet"/>
    </div>
  </div>
</form>

<div class="row ">
  <div class="col-xs-11">
    <img src="<%=s3path + evidence.img %>" width="100%" class="tutanak img-responsive">
  </div>
</div>



 <script type="text/javascript">
    $(document).ready(function() {

         // Get the cities, districts and boxes from EJS
         var election_data = <%- yskveri %>

         // Parse cities
         var cities = election_data.cities
         $.each(election_data.cities, function(key, value){
              $("#city").append('<option value="'+key+'">'+value.name+'</option>');
         });

         $( "#city" ).change(function() {

              // clear other values
              $("#district").empty();
              $("#no").empty();

              // parse districts for the selected value
              if(cities[$("#city").val()]) {
                var districts = cities[$("#city").val()].districts;
                $.each(districts, function(key, value){
                     $("#district").append('<option value="'+key+'">'+value.name+'</option>');
                });
              }

              $("#no").append('<option>Sandık seç</option>');
              var boxes = cities[$("#city").val()].districts[$("#district").val()].boxes;
              for (var i = boxes.from; i < boxes.to+1; i++) {
                $("#no").append('<option value="'+i+'">'+i+'</option>');
              };

         });

         $( "#district" ).change(function() {
              // console.log($("#district").val());
              $("#no" ).empty();

              $("#no").append('<option value="">Sandık seçiniz</option>');
              var boxes = cities[$("#city").val()].districts[$("#district").val()].boxes;
              for (var i = boxes.from; i < boxes.to+1; i++) {
                $("#no").append('<option value="'+i+'">'+i+'</option>');
              };

              // parse districts for the selected value
              // var boxes = cities[$("#city").val()].districts[$("#district").val()].boxes
              // $.each(boxes, function(key, value){
              //     $("#no").append('<option value="'+key+'">'+value+'</option>');
              // });
         });

    $('#evidence_edit').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            district: {
                validators: {
                    notEmpty: {
                        message: 'İl Seç'
                    }
                }
            },
            city: {
                validators: {
                    notEmpty: {
                        message: 'İlçe Seç'
                    }
                }
            },
            no: {
                validators: {
                    notEmpty: {
                        message: 'Sandık Seç'
                    }
                }
            },
            type: {
                validators: {
                    notEmpty: {
                        message: 'Tur Seç'
                    }
                }
            }
        },
        submitHandler: function(validator, form, submitButton) {
                var city = $("#city option:selected").text();
               var city = $("#city option:selected").text();
               var district = $("#district option:selected").text();
               var no = $("#no option:selected").text();
               var type = $("#type option:selected").val();
               var event_id =  $("#event_id").val();


               $.ajax({
                  type: "POST",
                  url: "/evidences",
                  data: {"city":city,"district":district,"no":no,"type":type,"event_id":event_id},
                  success: function (response) {
                     console.log(response._id);
                     window.location = '/evidences/' + response._id + '/show';
                  },
                  dataType: "json"
               });
            // Do your task
            // ...
            // Submit the form
           // validator.defaultSubmit();
        }
      });
    });

</script>



