
<div class="row">
  <div class="col-sm-12 text-center">
    <p class="aciklama">
      <%= t('description') %>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <img src="images/photo.png" class="img-responsive" alt="Tutanak Ekle" />
  </div>
  <div class="col-sm-4">
    <img src="images/count.png" class="img-responsive" alt="Oyları Say" />
  </div>
  <div class="col-sm-4">
    <img src="images/compare.png" class="img-responsive" alt="Sonuçları Denetle" />
  </div>
</div>

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
    <p class="aciklama"></p>
      <div class="row" id="emailform">
       <div class="email-signup-centered-col" style="margin-left:auto; margin-right:auto;">
        <form id="emailsignup">
          <div class="input-group">
            <input id="email" name="email" type="email" class="form-control" placeholder="<%=: { 'lan' : settings.lang, 'key' :'eposta'} | translate %>">
            <span class="input-group-btn">
              <button id="kaydol" type="submit" class="btn btn-default"> <%= t('kaydol') %></button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>
    <div class="row">
      <div class="footer-col col-md-12">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/saydirac?ref=hl" class="btn-social btn-outline-orange"><i class="fa fa-fw fa-facebook"></i></a>
          </li>
          <li><a href="#" class="btn-social btn-outline-orange"><i class="fa fa-fw fa-google-plus"></i></a>
          </li>
          <li><a href="http://www.twitter.com/saydirac" class="btn-social btn-outline-orange"><i class="fa fa-fw fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
<div class="footer-below">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 license">
        Saydirac.com'da toplanan veriler herkesin kullanımına açıktır ve <br />
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">Creative Commons</a>
          <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
            <img src="../fonts/cc.svg" alt="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
            <img src="../fonts/by.svg" alt="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
            <img src="../fonts/sa.svg" alt="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
          </a>
          ile lisanslanmıştır...
          <!-- <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" title="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">Creative Commons Attribution-ShareAlike 4.0</a> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 credit">
        Yazılım &copy; 2014 Saydıraç
      </div>
    </div>
  </div>
</div>
</footer>

<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>



<script type="text/javascript">
$("#emailsignup").submit(function(event) {
  function subscallback(e) {
    $("#emailform").html('<p>Teşekkürler. Kaydını tamamlaman için bir e-posta gönderdik. Gelen kutunu veya "Spam" klasörünü kontrol eder misin?</p>');
  }
  $.ajax({
    type: "POST",
    url: "/subscribe_email",
    data: {"email":$("#email").val()},
    success: subscallback,
    dataType: "json"
  });
  event.preventDefault();
});
</script>
