<div class="row">
  <div class="col-sm-12 text-center">
        <p>Saydıraç bir seçim sonuç kontrol uygulaması. Vatantaşlar seçim sonuç tutanaklarını fotoğraflar, sisteme yükler ve oyları sayar.</p>

        <p>Amaç sonuç sonuçlarını şeffaf bir şekilde kontrol edebilmektir.
  </div>
</div>

<div class="row steps">
  <div class="col-sm-4">
   <img src="images/photo.png" class="img-responsive" alt="Tutanak Ekle" />
  </div>
  <div class="col-sm-4">
    <img src="images/count.png" class="img-responsive" alt="Oyları Say" />
  </div>
  <div class="col-sm-4">
    <img src="images/compare.png" class="img-responsive" alt="Sonuçları Denetle" />
  </div>
</div>

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                  <ul class="list-inline">
                      <li><a href="https://www.facebook.com/saydirac?ref=hl" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                      </li>
                      <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                      </li>
                      <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                      </li>
                     
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 credit">
                    Copyright &copy; 2014 - Saydıraç
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
