
<div class="row">
   <div class="col-xs-12">
    <h1><%= title %></h1>
    <p>
      <em><%= title %></em> seçim gözetim uygulamasına hoşgeldiniz.
    </p>
    <p>
      <a href="/evidences/new"><button type="button" class="btn btn-lg btn-primary">Tutanak yükle</button></a>
    </p>
  </div>
</div>

