<div class="row steps">
  <div class="col-sm-4">
    <a href="/evidences/new"><img src="images/photo.png" class="img-responsive" alt="Tutanak Ekle" /></a>
  </div>
  <div class="col-sm-4">
    <a href="#"><img src="images/count.png" class="img-responsive" alt="Oyları Say" /></a>
  </div>
  <div class="col-sm-4">
    <a href="#"><img src="images/compare.png" class="img-responsive" alt="Sonuçları Denetle" /></a>
  </div>
</div>

<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12">
                  <ul class="list-inline">
                      <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                      </li>
                      <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                      </li>
                      <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                      </li>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 credit">
                    Copyright &copy; 2014 - 140JOURNOS
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
