<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <em><%= title %></em> seçim gözetim uygulamasına hoşgeldiniz.
    </p>
    <p>
      <a href="/evidence">Tutanak yükle</a>
    </p>
  </body>
</html>
