<div class="row">
   <div class="col-md-12">
      <p class="lead text-center gray">
        <%= t('1haziranbaslik') %>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
      <a href='/readings/getrandomreading'>
      <span class="btn btn-large btn-block btn-file round-button-orange">
        <%= t('tutanakoku') %>
        <img src="../images/say.png" class="img-responsive button-icon" alt="say ikonu" />
      </span>
     </a>
  </div>
</div>

<div class="row">
   <div class="col-md-12">
      <h4 class="percentage-label text-center">
        <%= t('sayilantutanaklar') %>
      </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 class="percentage text-center">
      % 0
    </h5>
  </div>
</div>

<div class="row">
   <div class="col-md-12 text-center">
      <h4>
       <a class="btn btn-outline-orange" href="/evidences"><%= t('tumtutanaklar') %></a>
      </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <ul class="list-inline">
      <li><a href="https://www.facebook.com/saydirac?ref=hl" class="btn-social"><i class="fa fa-fw fa-facebook"></i></a></li>
      <!-- <li><a href="#" class="btn-social"><i class="fa fa-fw fa-google-plus"></i></a></li> -->
      <li><a href="http://www.twitter.com/saydirac" class="btn-social"><i class="fa fa-fw fa-twitter"></i></a></li>
    </ul>
 </div>
</div>
