<div class="row">
  <div class="col-md-12 text-center">
    <h4 class="orange">
      <%= t('thanksreading') %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <a class-İ class="btn btn-file round-button-orange" href="/readings/getrandomreading">
      <input type="submit" class="btn btn-file next" value="<%= t('sonrakitutanak') %>"/>
        <img src="/images/next.png" class="img-responsive button-icon" alt="next ikonu" />
     </a>
  </div>
</div>
<div class="row">
   <div class="col-md-12 text-center">
      <h4>
       <a class="btn btn-outline-orange" href="/evidences"><%= t('tumtutanaklar') %></a>
      </h4>
  </div>
</div>
<div class="row">
  <div class="fb-like col-md-12 text-center" data-href="https://www.saydirac.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
 </div>
</div>

