<div class="row">
  <div class="col-md-12 text-center">
    <h4 class="orange">TUTANAĞI OKUDUGUN İÇİN TEŞEKKÜRLER!</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-file round-button-orange" href="/readings/<%= evidence._id %>/new">
      <input type="submit" class="btn btn-file next" value="SONRAKİ TUTANAK"/>
        <img src="/images/next.png" class="img-responsive button-icon" alt="next ikonu" />
     </a>
  </div>
</div>
<div class="row">
   <div class="col-md-12 text-center">
      <h4>
       <a class="btn btn-outline-orange" href="/evidences"> BÜTÜN TUTANAKLAR </a>
      </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <ul class="list-inline">
      <li><a href="https://www.facebook.com/saydirac?ref=hl" class="btn-social"><i class="fa fa-fw fa-facebook"></i></a>
      </li>
      <li><a href="#" class="btn-social"><i class="fa fa-fw fa-google-plus"></i></a>
      </li>
      <li><a href="http://www.twitter.com/saydirac" class="btn-social"><i class="fa fa-fw fa-twitter"></i></a>
      </li>
    </ul>
 </div>
</div>

