
<div class="row">
 <div class="col-xs-12">
  <h4>
    <%= title %>
  </h4>
</div>
</div>


<div class="row">
 <div class="col-sm-4">
 		q1
</div>
 <div class="col-sm-4">
 		q2
</div>
 <div class="col-sm-4">
 		q3
</div>
</div>