<div class="title">
    <%= title %>
</div>
<form action="/sandik" method="post" accept-charset="utf-8">
  <input type="text" name="sandiknum" />
</form>

<% sandiklar.forEach( function( sandik ){ %>
  <p><%= sandik.date_created %> || <%= sandik.no %> </p>
<% }); %>